<h1>スタッフ一覧</h1>
<span class="id">ID</span>名前
<hr>
<p></p>
<% @users.each do |user| %>
  <div>
    <span class="id"> <%= user.id %></span>
    <span class="name"><%= user.name %></span>
    <%= link_to "詳細", user %>
  </div>
<% end %>
