<h1>スタッフ詳細</h1>
<p><span class="name">【ID】</span> <%= @user.id %></p>
<p><span class="name">【名前】</span> <%= @user.name %></p>
<p><span class="name">【メールアドレス】</span> <%= @user.email %></p>
<%= link_to "スタッフ一覧", users_path %>
